server {
	listen      443 ssl;
	server_name hompimpah.xyz;
	
	ssl_certificate /home/fullchain.pem;
	ssl_certificate_key /home/privkey.pem;

	location / {
        root   /usr/share/nginx/html;
        index  index.html index.htm;
    }
}

server {
	listen 80 ;
	listen [::]:80;

	server_name hompimpah.xyz;
	return 301 https://$host$request_uri;
}

server {
    listen       80;
    server_name  testing.hompimpah.xyz;

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name testing.hompimpah.xyz;

    ssl_certificate /home/fullchain.pem;
	ssl_certificate_key /home/privkey.pem;

    location / {
        proxy_pass   http://www.stealmylogin.com;
    }
}